DATABASE_URL=sqlite:///task_management.db
GEMINI_API_KEY=AIzaSyAdiOuP2J1SfUrLx3rJe8bKb6ec_om0RzU
SECRET_KEY=osQ0yen_U481Ylumks8wdeY9OVFY4ZoF2RrFic9_MD0_wkq7zKttCd3qpGxZV7FN3lReSWzq8abppBaAesgPEg
ENVIRONMENT=development
